body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #eee;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

#wrapper {
  align-items: center;
}

#calculator {
  width: 30%;
  max-width: 13em;
  background-color: rgb(197, 238, 144);
  padding: 2em;
}

.labelled {
  display: flex;
  align-items: center;
}

input {
  margin-top: 1em;
  padding: 0.4em;
  border: none;
}

.labelled input {
  flex: 2;
}

.labelled label {
  margin-top: .6em;
  padding-left: .6em;
}

input[type="button"] {
  margin-top: 2.4em;
  margin-bottom: 1.6em;
}

.btn {
  background-color: rgb(76, 131, 76);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.377);
}

.btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

span {
  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
}

@media screen and (max-width: 380px) {
  h1 {
    text-align: center;
  }
  #calculator {
    width: 75%;
  }
}